
.mainnav {
	text-align: center;
	@include breakpoint($small) {
		position: absolute;
	}

	div {
		text-align: center;
		margin-top: 30px;
		@include breakpoint($small){
		display: none;
	}
		a {
			padding: 10px;
			background-color: #06305B;
			color: #fff;
			margin: 0 auto;
			display: block;
		}
	}
	

	ul {
	list-style: none;
	padding: 0;
	display: none;
	margin-top: 0;

	@include breakpoint($small){
		display: inline !important;
		}

		li {

		@include breakpoint($small){
		display: inline-block;
		}
	}

	a {
	padding: 10px;
	display: block;


		&:hover {
		color: #fff;
		background-color: #06305B;
		}
	}
	}
	
	

	
}

.pagenav {

	
	

	 ul {
		list-style: none;
	}

	li {
		display: inline;
		margin-left: 40px;
		@include breakpoint($small) {
			display: block;
			float: left;
			margin-left: 0px;
			margin-top: 20px;
			width: 20%;
		}
	}

	a {
		padding-left: 5px;
		padding-right: 5px;
	

		&:hover {
			color: #fff;
			background-color: #06305B;
		}
	}
}